* {
    font-family: "Lobster', cursive;", "Book Antiqua", Palatino, serif;
    background-color: lightgrey;
}

p,
h2,
.readme-wrapper {
    background: content-box;
    text-align: center;
}

a {
    text-decoration: none;
    color: red;
}

.boxes {
    display: block;
    border: solid;
    border-radius: 40px;
}

#container {}

a:hover {
    color: blue;
    font-weight: bolder;
    cursor: crosshair;
}

div {
    width: 60%;
}

#box1 {
    background-color: cadetblue;
}

#box2 {
    background-color: burlywood;
    position: absolute;
    left: 525px;
    top: 0;
    padding-right: 40px;
}

#box3 {
    background-color: coral;
}

#box4 {
    background-color: deeppink;
}